body{
    background-image: url("hub.jpg");
    object-fit: contain;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
     
}

#background{
    background-image:url("hub.png");
    object-fit: contain;
    position:absolute;
    padding:29.0%;

    width:100%;
    transform:translateY(-7px);
    mix-blend-mode: screen;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,.5);
}
#container{
    position:absolute;
    padding:100px;
    transform:translateY(200px);
    margin-left:125px;
    
    filter: drop-shadow(0px 0px 5px rgb(71, 71, 71));
}
#buttons{
    position:absolute;
    padding:100px;
    transform:translateY(400px);
    margin-left:150px;

}


.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: rgb(0, 195, 255);
    box-shadow: 0 0 0 2px rgb(0, 140, 255);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: rgb(0, 217, 255);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(40, 201, 223);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(0, 204, 255);
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  
#signup{
    position: relative;
    padding:50px;
    width:300px;
}
#text{
    color:black;
    position:absolute;
    font-size:35px;
    transform:translateY(-270px);
    right:850px;
}
#loginshape{
    position:absolute;
    padding:235px;
    width:480px;
    background-color: rgb(204, 204, 204);
    margin-left:-26.3%;
    border-color:blue;
    border-radius: 2px;
    border-width:20px;
    margin-top:-220px;
}
#logincontain{
    position:absolute;
    padding:250px;
    width:450px;
    background-color: white;
    margin-left:42%;
    border-color:blue;
    border-radius: 2px;
    border-width:20px;
    margin-top:15%;
}   