body{
    font-family: Verdana;
    font-size: 200%;
    padding-left: 20%;
    color: rgb(0, 0, 0);
    background-color: rgb(212, 239, 255);
 
}
#b1{
    color:white;
}

div{
    width: 800px;
    text-align: center;

    background-color: rgb(173, 229, 255);
    border: 35px solid rgb(150, 208, 255);
    padding: 50px;
    margin-right: auto;
  }